/* ---------------------------
   FONT + BASE RESET
--------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alfa+Slab+One&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Chewy&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Modak&family=Oi&family=Pacifico&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansation:ital,wght@0,700;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* PayPal Sans substitute stack */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    background: #F2F2F2;
    color: #0f172a;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}



/* ---------------------------
   APP WRAPPER
--------------------------- */

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ---------------------------
   HEADER
--------------------------- */

.home-header {
    background: transparent;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
}

.header-row button {
    background: #ffffff;
    border-radius: 50% ;
    padding: 10px;
}

.header-row button img {
    width: 18px;
    height: 18px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 14px;
}


.profile-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


/* ---------------------------
   MAIN CONTENT
--------------------------- */

.home-content {
    flex: 1;
    padding-bottom: 88px; /* space for bottom nav */
}


/* ---------------------------
   MONEY WAITING BAR
--------------------------- */

.money-waiting {
    padding: 16px;
}

.money-waiting-inner {
    background: #ffffff;
    border-radius: 16px;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.money-waiting-text {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.money-waiting-amount {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #0f172a;
}

.money-waiting-action {
    align-self: flex-start;
    color: #0072E7;
    font-size: 14px;
    font-weight: 700;
}


/* ---------------------------
   INFO GRID
--------------------------- */

.info-grid {
    width: 100%;
    display: flex;
    gap: 12px;
    padding: 0 16px;
    overflow-x: auto;
    overflow-y: hidden;
}

.info-column {
    flex: 0 0 180px; /* fixed width, wider than height */
    height: 150px;
    background: #ffffff;
    border-radius: 16px;
    padding: 14px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.info-title {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.info-value {
    margin: 6px 0 0;
    font-size: 25px;
    font-weight: 500;
    color: #0f172a;
}

.info-subtext {
    margin: 4px 0 0;
    font-size: 13px;
    color: #5a5a5a;
}

.info-link {
    font-size: 14px;
    font-weight: 600;
    color: #0072E7;
}

.info-gain {
    font-size: 14px;
    font-weight: 500;
    color: #5C5D5E;
}

.info-bottom p{
    display: flex;
    padding: 0;
    margin: 0;
    padding: 0;
}

.info-bottom span {
    color: #91A953;
    margin-right: 3px;
}
/* ---------------------------
   DEBIT CARD
--------------------------- */
.debit-card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.debit-card-section .section-title {
    width: 100%;
}

.debit-card-section button {
    background: #f8cc47;
    width: 100%;
    padding: 10px 0;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
}

/* ---------------------------
   RECENT ACTIVITY
--------------------------- */
.digits-fonts {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.recent-activity {
    margin-top: 24px;
    padding: 0 16px;
}

.section-title {
    margin: 0 0 12px;
    font-size: 20px;
    font-weight: 600;
}

.activity-item {
    background: #ffffff;
    border-radius: 14px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.activity-item + .activity-item {
    margin-top: 10px;
}

.activity-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
}

.activity-details {
    flex: 1;
    min-width: 0;
}

.activity-name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activity-meta {
    margin: 4px 0 0;
    font-size: 12px;
    color: #64748b;
}

.activity-amount {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.activity-amount.negative {
    color: #0f172a;
}

.activity-amount.positive {
    color: #007400;
}


/* ---------------------------
   BOTTOM NAV
--------------------------- */

.bottom-nav {
    position: sticky;
    bottom: 0;
    background: #ffffff;
    border-top: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    
}

.bottom-nav .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    gap: 20px;
    padding: 10px 10px;
}

.bottom-nav .top button {
    flex: 1;
    background: #0046BC;
    color: #ffffff;
    padding: 15px;
    border-radius: 28px;
    font-weight: 500;
    font-size: 15px;
}

.bottom-nav .bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 8px 0 10px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #525B69;
    font-size: 10px;
}

.nav-item img {
    width: 18px;
    height: 18px;
}

.nav-item .active {
    color: #001438;
    font-weight: 800;
}

/* --------------------------------
   HIDE SCROLLBARS (GLOBAL)
-------------------------------- */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Firefox */
* {
    scrollbar-width: none;
}

/* IE / old Edge */
* {
    -ms-overflow-style: none;
}
